#Navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    border-bottom: 1px solid #21242627;
    align-content: center;
    align-items: center;
}
span{
    color: #E4803A;
}
button{
    cursor: pointer;
}
#navleft{
    /* background-color: aquamarine; */
    padding: 10px 10px 10px 10px  ;
}
#navright{
    /* background-color: blue; */
    padding: 10px 10px 10px 10px  ;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-content: center;
    align-items: center;
}
#faqs-heading{
    /* background-color: #E4803A; */
    padding: 20px 100px 20px 100px;
    text-align: center;
    color: #2C387A;
}
#faqs-box-outer{
        /* background-color: #E4803A; */
        padding: 20px 100px 20px 100px;
}
#faqs-box-inner{
    background-color: #adb9fb;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
}
#language-btn-div{
    /* background-color: #E4803A; */
    display: flex;
    padding: 20px 10px 20px 10px;
    justify-content: space-between;
    color: white;
}
#language-btn{
    padding: 12px 15px 12px 15px;
    border: none;
    outline: none;
    font-size: 18px;
}
#q-a-div{
    background-color: #ffffff;
    padding: 20px 0px 20px 0px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
#ques-div{
    /* background-color: #2C387A; */
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    align-content: center;
}
#ques-edit-btn{
    background: black;
    color: white;
    padding: 12px 15px 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#ans-div{
    /* background-color: #00b994; */
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #21242625;
    display: none; /* Ensure default is hidden */
}
#question-open-btn{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}
#new-faq-add-box{
        /* background-color: #E4803A; */
        padding: 20px 100px 20px 100px;
        text-align: center;
        color: #2C387A;
}
#add-ques-form{
    background-color: #adb9fb;
    padding: 20px 20px 20px 20px;
    max-width: 500px;
    margin: 0px auto 0px;
    border-radius: 25px;
}
#newfaq-add-btn{
    background: #2C387A;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}